@model MiBotica.SolPedido.Entidades.Core.Cliente

@{
    ViewBag.Title = "Eliminar Cliente";
}

<h2>Eliminar Cliente</h2>

<h3>¿Estás seguro de que deseas eliminar este cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Codigo)</dt>
        <dd>@Html.DisplayFor(model => model.Codigo)</dd>

        <dt>@Html.DisplayNameFor(model => model.NombreCompleto)</dt>
        <dd>@Html.DisplayFor(model => model.NombreCompleto)</dd>

        <dt>@Html.DisplayNameFor(model => model.Zona)</dt>
        <dd>@Html.DisplayFor(model => model.Zona)</dd>
    </dl>

    @using (Html.BeginForm("Delete", "Cliente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Codigo)

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
